* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-color {
  color: rgb(30, 183, 30);
}
.App {
  background-color: #f3f5fc;
  height: 100vh;
  @media (max-width: 768px) {
  }
}
.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .formContainer {
    width: 648px;
    border-radius: 8px;
    border: 1px solid #e4e7ec;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;

    .formHeader {
      font-weight: 600;
      color: rgb(49, 52, 60);
      font-size: 16px;
      padding-bottom: 12px;
    }
    .formSubHeaderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 24px;

      .checkIcon {
        color: rgb(16, 150, 72);
        width: 16px;
        height: 16px;
      }
      .formSubHeader {
        font-weight: 500;
        color: rgb(16, 150, 72);
        font-size: 14px;
        line-height: 18px;
      }
    }
    .fieldsContainer {
      max-width: 412px;
      position: relative;
      .errorStyle {
        height: 14px;
        position: absolute;
        bottom: -17px;
        left: 0;
        z-index: 1;
        font-size: 12px;
        color: red;
      }
    }
    .btnStyle {
      padding: 13px 40px;
      border-width: 0px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
      align-items: center;
      place-content: center;
      border-radius: 400px;
      color: #fff;
      background-color: #1434cb;
      position: relative;
      .btnLoader {
        position: absolute;
        top: 35%;
        transform: translateY(-35%);
        bottom: 0;
        right: 90px;
        margin: 0;
        padding: 0;
        z-index: 1;
      }
    }
    .tncStyle {
      font-size: 10px;
      color: rgb(102, 112, 133);
      font-weight: 400;
      line-height: 16px;
      text-align: center;
    }
    .pbStyle {
      font-weight: 400;
      color: rgb(49, 52, 60);
      font-size: 12px;
      text-align: center;
    }
    .verifiedIcon {
      color: rgb(16, 150, 72);
      width: 14px;
      height: 14px;
    }
    @media (max-width: 768px) {
      width: calc(100% - 20px);
      margin: 0 20px;
    }
  }
  .otpsubHeader {
    font-weight: 500;
    color: rgb(102, 112, 133);
    font-size: 14px;
    line-height: 20px;
    span {
      font-weight: 600;
      color: rgb(102, 112, 133);
    }
  }
  .modalContainer {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    .modalContent {
      position: absolute;
      z-index: 2;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid #e4e7ec;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
      width: 348px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        border: none;
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        margin: 10px;
        width: 180px;
      }
      button[data-btn-id="success"] {
        background-color: rgb(30, 183, 30);
      }
      button[data-btn-id="failure"] {
        background-color: rgba(223, 43, 43, 0.975);
      }
      button[data-btn-id="server-error"] {
        background-color: brown;
      }
    }
  }
}
.loanOffersContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    .logout {
      font-weight: 500;
      color: #000;
      font-size: 16px;
    }
    .loanPageHeader {
      font-weight: 500;
      color: rgb(49, 52, 60);
      padding-bottom: 12px;
      font-size: 20px;
    }
  }
  .cardsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  .cardContainer {
    margin: 12px;
    max-width: 328px;
    flex-basis: 328px;
    .offer-card {
      border-radius: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      .offer-image {
        border-radius: 15px;
        max-width: 100%;
        height: auto;
      }
      .offer-details {
        padding: 12px;
        .offerAmount {
          font-weight: 500;
          color: #000;
          padding-bottom: 12px;
          font-size: 20px;
        }
        .offerBtnStyle {
          background-color: rgb(30, 183, 30) !important;
          font-family: Poppins !important;
          letter-spacing: normal;
          text-transform: capitalize !important;
        }
        .leftContent {
          font-weight: 500;
          color: rgb(30, 183, 30);
          font-size: 14px;
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 400;
            color: #000;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.confettiStyle {
  position: relative !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1.header {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: Poppins;
  padding-top: 40px;
  padding-bottom: 24px;
  max-width: 900px;
  @media (max-width: 768px) {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    max-width: fit-content;
  }
}

.brokers-section {
  width: 648px;
  text-align: center;
  margin-top: 32px;
  .text {
    font-weight: 600;
    color: rgb(49, 52, 60);
    font-size: 16px;
    padding-bottom: 12px;
  }
  .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .broker-box {
      border-radius: 8px;
      border: 1px solid #e4e7ec;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
      width: 120px;
      aspect-ratio: 1/1;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      div {
        margin-top: 12px;
      }
      img {
        width: 50px;
        aspect-ratio: 1/1;
      }
    }
  }
  @media (max-width: 768px) {
    width: fit-content;
    margin-top: 24px;
    .inner-content {
      flex-wrap: wrap;
      gap: 10px;
      .broker-box {
        width: 80px;
        padding: 6px;
        font-size: 10px;
        div {
          margin-top: 6px;
        }
        img {
          width: 70%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
