.container {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 70vw;
  margin: auto;
  font-weight: 400;
  color: rgb(49, 52, 60);
  font-size: 12px;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .inner {
    max-width: 70%;
    flex-basis: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .home-button {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
    }
    .tabs {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .tab-section {
        cursor: pointer;
        padding-right: 20px;
      }
      .active {
        color: #ff5722;
      }
    }
  }
}
.dashboard-container {
  padding-top: 63px;
  display: flex;
  height: 100%;
  .left-container {
    flex-basis: 30%;
    max-width: 30%;
    box-shadow: 3px 1px 12px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
