* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Poppins";
  min-height: 100vh;
}
.App {
  background-color: #f3f5fc;
  height: 100vh;
  .green-color {
    color: #109648;
  }
}
